/* Meyer CSS Reset, my edit */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {	/* Import font */
  font-family: 'PressStart2P';
  font-style: normal;
  font-weight: 400;
  src:  /* Order is: Local -> Webfont -> On server */
    local('Press Start 2P'), 
    local('PressStart2P-Regular'), 
    url(http://themes.googleusercontent.com/static/fonts/pressstart2p/v2/8Lg6LX8-ntOHUQnvQ0E7o3dD2UuwsmbX3BOp4SL_VwM.woff) format('woff'), 
    url('../fonts/PressStart2P.svg') format('svg'), 
    url('../fonts/PressStart2P.ttf') format('ttf'), 
    url('../fonts/PressStart2P.otf') format('otf'), 
    url('../fonts/PressStart2P.woff') format('woff'), 
    url('../fonts/PressStart2P.eot') format('eot');
}

canvas, html {
  background-color: #000;
}
canvas {	/* Not sure how well this works. Should center it */
  margin: auto auto;
}

img, audio {	/* Hide these because they get pulled into the game */
  display: none;
}

iframe {
	width: 0px;
	height: 0px;
}

h1 {
	font-family: "PressStart2P";
	text-align: center;
	color: #FFF;
}

.message {
  position: relative;
  top: 1.3em;
}